p{
    
    text-align: center;
    margin-top:150px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-size: 30px;
    box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.85);
    letter-spacing: 0.05em;
    
}

a{
    text-decoration: none;
    cursor: pointer;
}