* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;

}

.form {
    text-align: center;
    justify-content: center;
    margin-top: 100px;

    align-items: center;
}

.title {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 20px;
}

.quiz {
    justify-content: center;
    height: 40px;
    width: 250px;
    border-radius: 25px;
    outline: none;
    border-style: none;
    background-color: lemonchiffon;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    padding-left: 20px;
    font-weight: bold;
}

.btn{
    width: 80px;
    height: 40px;
    border-style: none;
    background-color: black;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    outline: none;
    text-align: center;
    border-radius: 25px;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    
}